<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="styles/favicon-heart-o.ico" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>

    <title>Sabba Petri Site</title>
  </head>
  <body>
    <header>
      <div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/"><i class="fa fa-heart-o"></i></a></li>
              <li><a class="active" href="/about">WORK</a></li>
              <li><a href="/resume/sabbapetri_resume.pdf" target="_blank">RESUME</a></li>
              <li><a href="mailto:sabbap@gmail.com?Subject=Hi there!" target="_top">CONTACT</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="about-banner-container">
      <div class="row overlay">
        <div class="hidden-xs hidden-sm col-md-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 about-banner-content">
          <div class="about-heading">
            <h1>Work & Interests</h1>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-6"></div>
      </div>
    </div>
    <div class="row work off-white">
    <h1>Worked From Large Organizations</h1>
      <div class="hidden-xs hidden-sm col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="browser">
          <div class="top">
            <span class="buttons">
              <span class="button"></span>
              <span class="button"></span>
              <span class="button"></span>
            </span>
            <span class="bar">
              <span>https://bahai.bwc.org/ 
                <span class="detail">- Baha'i World Centre</span>
              </span>
            </span>
          </div>
          <div class="bwc"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="work-detail">
          <h4>Baha'i World Centre</h4>
          <p>The worldwide center of the Baha’i International Community, a UN-recognized NGO administrating affairs for over 184 countries and territories with over 6 million members.</p>
          <div class="know-more">
            <a href="http://www.bahai.org/" target="_blank" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-1"></div>
    </div>
    <div class="row work bordered">
    <h1>To Small, Thriving Startups</h1>
      <div class="hidden-xs hidden-sm col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="work-detail">
          <h4>GitLab B.V</h4>
          <p>YC-Backed GitLab is a feature-rich Git repository management, issue-tracking, wiki system, used by companies such as IBM, NASA, Bell, Expedia, and more.</p>
          <div class="know-more">
            <a href="http://about.gitlab.com" target="_blank" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="browser">
          <div class="top">
            <span class="buttons">
              <span class="button"></span>
              <span class="button"></span>
              <span class="button"></span>
            </span>
            <span class="bar">
              <span>http://gitlab.com/ 
                <span class="detail">- GitLab B.V.</span>
              </span>
            </span>
          </div>
          <div class="gitlab"></div>
        </div>
      </div>
    </div>
    <div class="row work off-white">
    <h1>And Open-Source Projects</h1>
      <div class="hidden-xs hidden-sm col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="browser">
          <div class="top">
            <span class="buttons">
              <span class="button"></span>
              <span class="button"></span>
              <span class="button"></span>
            </span>
            <span class="bar">
              <span>https://forekast.com/ 
                <span class="detail">- Forekast</span>
              </span>
            </span>
          </div>
          <div class="forekast"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="work-detail">
          <h4>Forekast</h4>
          <p>Viewed as the "Crowdsourced Calendar of the Internet", Forekast displays upcoming global and national (and soon, local) events, provided by the community at large.</p>
          <div class="know-more">
            <a href="https://forekast.com" target="_blank" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-1"></div>
    </div>
    <div class="row loves">
      <div class="col-md-12">
      <h1>Interests & Passions</h1>
        <ul>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <li>
              <div class="loves-content">
                <div class="icon-area">
                  <svg class="svg-icon" viewBox="0 0 1024 1024">
                    <path class="svg-style" d="M0 896v-736h992v736h-992zM192 576h-32v-384h-128v672h160v-288zM384 576h-32v-384h-96v384h-32v288h160v-288zM576 576h-32v-384h-96v384h-32v288h160v-288zM640 192v384h-32v288h160v-288h-32v-384h-96zM960 192h-128v384h-32v288h160v-672z"></path>
                </svg>
                </div>
                <h3>Practicing & Performing Piano</h3>
                <p>Since my early days, I've loved practicing a range of music, from Bach preludes, to intricate Rachmaninoff preludes, to beautiful Einaudi suites.</p>
              </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <li>
              <div class="loves-content">
                <div class="icon-area">
                  <svg class="svg-icon" viewBox="0 0 1280 1024">
                    <path class="svg-style" d="M832 736l96 96 320-320-320-320-96 96 224 224z"></path>
                    <path class="svg-style" d="M448 288l-96-96-320 320 320 320 96-96-224-224z"></path>
                    <path class="svg-style" d="M701.298 150.519l69.468 18.944-191.987 704.026-69.468-18.944 191.987-704.026z"></path>
                </svg>
                </div>
                <h3>Pushing Great Code</h3>
                <p>I enjoy pushing, churning, and contributing code for companies and organizations who have visions to change people's lives for the better.</p>
              </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <li>
              <div class="loves-content">
                <div class="icon-area">
                  <svg class="svg-icon" viewBox="0 0 1024 1024">
                    <path class="svg-style" d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 960.002c-62.958 0-122.872-13.012-177.23-36.452l233.148-262.29c5.206-5.858 8.082-13.422 8.082-21.26v-96c0-17.674-14.326-32-32-32-112.99 0-232.204-117.462-233.374-118.626-6-6.002-14.14-9.374-22.626-9.374h-128c-17.672 0-32 14.328-32 32v192c0 12.122 6.848 23.202 17.69 28.622l110.31 55.156v187.886c-116.052-80.956-192-215.432-192-367.664 0-68.714 15.49-133.806 43.138-192h116.862c8.488 0 16.626-3.372 22.628-9.372l128-128c6-6.002 9.372-14.14 9.372-22.628v-77.412c40.562-12.074 83.518-18.588 128-18.588 70.406 0 137.004 16.26 196.282 45.2-4.144 3.502-8.176 7.164-12.046 11.036-36.266 36.264-56.236 84.478-56.236 135.764s19.97 99.5 56.236 135.764c36.434 36.432 85.218 56.264 135.634 56.26 3.166 0 6.342-0.080 9.518-0.236 13.814 51.802 38.752 186.656-8.404 372.334-0.444 1.744-0.696 3.488-0.842 5.224-81.324 83.080-194.7 134.656-320.142 134.656z"></path>
                </svg>
                </div>
                <h3>Developing Communities</h3>
                <p>If you don't find me pushing code or playing piano, you may find me in communities, working alongside others to grow communities organically through various processes of social and moral development.</p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <footer class="row footer" id="footer-particles">
      <ul>
        <a href="/"><li>Home</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/resume/sabbapetri_resume.pdf" target="_blank"><li>Resume</li></a>
            <a href="mailto:sabbap@gmail.com?Subject=Hi there!" target="_top"><li>Contact</li></a>
      </ul>
      <p>Copyright 2015 & developed by Sabba Petri</p>
    </footer>

    <!-- javascripts -->
    <script src="scripts/script.js"></script>
    <script src="vendor/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="scripts/particle.js"></script>
    <script>
      startApp();
    </script>
  </body>
</html>



