    <footer class="row footer" id="footer-particles">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="mailto:sabbap@gmail.com?Subject=Hi there!" target="_top"><li>Contact</li></a>
        <a href="/resume/sabbapetri_resume.pdf" target="_blank"><li>View Resume</li></a>
      </ul>
      <p>Copyright 2015 & developed by Sabba Petri</p>
    </footer>

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="scripts/particle.js"></script>
    <script src="scripts/script.js"></script>
  </body>
</html>


