  <body>
    <header>
      <div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/"><i class="fa fa-heart-o"></i></a></li>
              <li><a href="/about">PORTFOLIO</a></li>
              <li><a href="/resume/sabbapetri_resume.pdf" target="_blank">RESUME</a></li>
              <li><a class="active" href="/contact">CONTACT</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="about-banner-container">
      <div class="row overlay">
        <div class="hidden-xs hidden-sm col-md-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 about-banner-content">
          <div class="about-heading">
            <h1>Contact</h1>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-6"></div>
      </div>
    </div>
    <div class="form-container row">
      <div class="form-content col-md-12">
        <h1>Contact Me</h1>
        <form id="contact">
          <input type="text" id="first-name" maxlength="20">
          <label>First Name</label>
          <input type="text" id="last-name" maxlength="20">
          <label>Last Name</label>
          <input type="textbox" id="comments" maxlength="150">
          <label>What's Up?</label>
          <input type="submit" id="submit" value="Submit">
        </form>
      </div>
    </div>
