    <header>
      <div class="nav-content">
        <nav>
          <ul>
            <li><a href="/" data-toggle="tab" class="active">Home</a></li>
            <li><a href="/about" data-toggle="tab">About</a></li>
            <li><a href="mailto:sabbap@gmail.com?Subject=Hi there!" target="_top" data-toggle="tab">Contact</a></li>
            <li><a href="/resume/sabbapetri_resume.pdf" target="_blank">View Resume</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="row banner-container">
      <div class="col-md-12 banner-content">
        <div class="heading">
          <h1>Better Designs, Better Solutions</h1>
          <p>As a designer and developer, I understand the perfect user interface should look good and work even better. Alongside my clients, I uncover problems and solve them. In short, I create bolder online experiences.</p>
        </div>
      </div>
    </div>
    <div class="row capabilities">
      <ul>
        <li>
        <div class="capability-content">
            <div class="icon-desktop"></div>
            <h3>Web Applications & Corporate Sites</h3>
            <p>This is where problem solving meets visual impact. I’ll unite products and users, design and experiences.</p>
        </div>
        </li>
        <li>
          <div class="capability-content">
            <div class="icon-desktop"></div>
            <h3>Mobile App Design</h3>
            <p>Using iOS, Android and an expert vision, I’ll take your application to the next level.</p>
          </div>
        </li>
        <li>
          <div class="capability-content">
            <div class="icon-desktop"></div>
            <h3>Front-end Development</h3>
            <p>It doesn’t stop with design. I can develop your product from visual concept to fully functional website.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="row want-more">
      <div class="col-md-12">
        <a href="/about" class="btn btn-default">Learn More</a>
        <a href="/resume/sabbapetri_resume.pdf" target="_blank" class="btn btn-default">View Resume</a>
        <a class="btn btn-default" href="mailto:sabbap@gmail.com?Subject=Hi there!" target="_top">Contact Me</a>
      </div>
    </div>
