/* About Page */

body {
  background: #EFF2F5;
}

.col-md-9 {
  padding: 0;
}

.col-md-3 {
  width:33%;
}

.col-md-4 {
  padding-left: 0;
}

header .active {
    color: white;
  }

  header .navbar-nav {
    padding-left: 4%;
    background: transparent;
  }

    header .navbar-nav li a:hover {
      text-decoration: underline !important;
      color: white !important;
    }

    header .navbar-nav li:first-child a {
      font-size: 20px;
    }

.about-banner-container {
  background: url(images/keyboard.jpg);
  height: 330px;
  background-size: cover;
}

  .about-banner-container .about-banner-content {
    height: 330px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
  }

  .about-banner-container .about-banner-content .about-heading {
    padding: 121px 5%;
    height: 100%;
    width: 69%;
  }  

    .about-banner-container .about-banner-content .about-heading h1 {
      font-size: 40px;
      color: #fff;
      font-weight: 100;
    }

.loves {
  height: 500px;
  border-top: 1px solid black;
}

  .loves .col-md-12 h1 {
    text-align: center;
    padding-bottom: 50px;
  }

  .loves ul {
    list-style-type: none;
    padding: 0;
  }

  .loves ul li {
    text-align: center;
    float: left;
  }

    .loves .icon-area {
      width: 110px;
      height: 137px;
      margin: 0 auto;
    }

    .loves .icon-area .svg-style {
      fill: black;
      stroke-width: 1px;
      stroke: gray;
      vector-effect: non-scaling-stroke;
    }

    .loves h3 {
      color: #865;
      font-size: 20px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      margin: 36px 0 12px;
    }

    .loves p {
      line-height: 26px;
      padding: 0 15px;
      color: #9d9e9d;
      font-weight: 300;
      font-size: 15px;
      font: 18px/27px 'Gentium Basic', serif
    }


.off-white {
  background: #f5f5f5 !important;
}

.bordered {
  border-top: 1px solid rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.075)
}

.work {
  background: #fff;
  padding-bottom: 100px;
}

.work h1 {
  text-align: center;
  padding: 35px 0 26px 0;
}

  .work .col-md-12 {
    text-align: center;
  }

  .work .col-md-5 {
    text-align: center;
  }  

  .work .browser {
    width: 490px;
    height: 490px;
    top: 20px;
    border: 1px solid #ccc;
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-position-y: 0;
  }

  .work .top {
    padding: 7px 16px 6px;
    border-bottom: 1px solid #ccc;
  }

  .work .browser .top .buttons {
    position: relative;
    top: 1px;
  }

  .work .browser .top .buttons .button {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .work .browser .top .buttons .button:first-child {
    background: #FF5468; 
  }

  .work .browser .top .buttons .button:nth-child(2) {
    background: #FABE4D;
  }

  .work .browser .top .buttons .button:last-child {
    margin-right: 6px;
    background: #4DFA90;
  }

  .work .browser .bar {
    border: 1px solid #ccc;
    width: 394px;
    height: 25px;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
  }
    .work .browser .bar span {
      color: black;
      font-size: 11px;
      padding-left: 10px;
    }

    .work .browser .bar span .detail {
      color: darkgray;
      font-size: 11px;
    }

    .work .work-detail {
      padding-top: 50px;
    }

    .work .work-detail h4 {
      font-size: 34px;
      font-weight: 200;
      text-align: center;
    }

  .work .browser div:nth-child(2) {
    height: 92%;
    border-radius: 1%;
    background-size: cover !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
  }

  .work .browser .bwc { 
    background: url(images/bwc.png);
  }

  .work .browser .gitlab { 
    background: url(images/gitlab.png);
  }

  .work .browser .forekast { 
    background: url(images/forekast.png);
  }

  .know-more {
    text-align: center;
  }

    .know-more a {
      border: 3px solid gray;
      border-radius: 60px;
      line-height: 46px;
      padding: 0 20px;
      background: #FFF;
      cursor: pointer;
      color: gray;
      font-size: 18px;
      transition: .2s all linear;
      margin: 5% 2%;
    }

      .know-more a:hover {
          border-color: #1a2225;
          color: #1a2225; 
          -webkit-transform: translateX(5px);
          -moz-transform: translateX(5px);
          -ms-transform: translateX(5px);
          transform: translateX(5px);
        }

    .know-more .btn::after {
      border-style: solid;
      border-width: 2px 2px 0px 0;
      content: '';
      display: inline-block;
      height: 12px;
      position: relative;
      top: 18px;
      vertical-align: top;
      left: 5px;
      transform: rotate(45deg);
      width: 13px;
    }

footer p {
  text-align: center;
  color: gray;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 10px;
}

@media (max-width: 540px) {
  .work .browser {
    width: 369px;
  }

  .work .browser .bar {
    width: 279px;
  }
}
