@import url('/styles/about.css');


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #212221;
}

@media(min-width: 1040px) {
  .capabilities ul li {
    width: 33%;
  }
}

@media(max-width: 1040px) {
    .capabilities {
    height: 992px !important;
  }
}

@media(max-width: 755px) {
  .capabilities {
      height: 1131px !important
  }

  header nav ul li a {
    font-size: 16px !important;
  }

  .banner-container .banner-content {
    padding-top: 100px !important;
  }

  .banner-container .banner-content .heading {
    padding: 16% 1% !important;
  }
}

.row {
  margin: 0 !important;
}

.active {
  color: white !important;
}

header .navbar-default {
  padding: 30px;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: transparent;
}

header .active {
    color: white;
  }

  header .navbar-nav {
    padding-left: 4%;
  }

    header .navbar-nav li a:hover {
      text-decoration: underline !important;
      color: white !important;
    }

    header .navbar-nav li:first-child a {
      font-size: 20px;
    }

.banner-container {
  background: url(images/tea-min.jpg);
  height: 600px;
  background-size: cover;
}

  .banner-container .overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .banner-container .banner-content {
    height: 100%;
    padding-top: 200px;
    padding-left: 83px;
  }

      .banner-container .banner-content .heading h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 100;
      }

      .banner-container .banner-content .heading p {
        color: #ddd;
        font-size: 17px;
      }

.capabilities {
  height: 445px;
  padding-top: 66px;
  border-top: 1px solid black;
}

  .capabilities ul {
    list-style-type: none;
    padding: 0;
  }

  .capabilities ul li {
    text-align: center;
    float: left;
  }

  .capability-content {
    padding: 0 14px;
  }

    .capabilities .icon-desktop {
      width: 152px;
      height: 137px;
      margin: 0 auto;
    }

    .capabilities .icon-desktop .svg-style {
      fill: none;
      stroke-width: 1px;
      stroke: #865;
      vector-effect: non-scaling-stroke;
    }

    .capabilities h3 {
      color: #865;
      font-size: 20px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      margin: 36px 0 12px;
    }

    .capabilities p {
      line-height: 26px;
      padding: 0 15px;
      color: #9d9e9d;
      font-weight: 300;
      font-size: 15px;
      font: 18px/27px 'Gentium Basic', serif
    }


.want-more {
  height: 200px;
  background: #212221;
  border-bottom: 1px solid black;
}

  .want-more .col-md-12 {
    height: 100%;
    text-align: center;
  }

  .want-more .col-md-12 a {
    border: 3px solid gray;
    border-radius: 60px;
    line-height: 46px;
    padding: 0 20px;
    background: #FFF;
    cursor: pointer;
    color: gray;
    font-size: 18px;
    transition: .2s all linear;
    margin: 5% 2%;
  }

    .want-more .col-md-12 a:hover {
      border-color: #1a2225;
      color: #1a2225; 
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }

  .want-more .col-md-12 .btn::after {
    border-style: solid;
    border-width: 2px 2px 0px 0;
    content: '';
    display: inline-block;
    height: 12px;
    position: relative;
    top: 18px;
    vertical-align: top;
    left: 5px;
    transform: rotate(45deg);
    width: 13px;
  }

footer {
  height: 300px;
  padding: 45px 0px 63px 0;
  background: #0b121d;
}

  footer ul {
    list-style-type: none;
    text-align: center;
  }

  footer ul li {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }

  footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  footer p {
    text-align: center;
    color: gray;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 10px;
  }
