@import url('/styles/about.css');


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

@media(min-width: 1040px) {
  .capabilities ul li {
    width: 33%;
  }
}

@media(max-width: 1040px) {
    .capabilities {
    height: 926px !important;
  }
}

@media(max-width: 755px) {
  .capabilities {
      height: 1131px !important
  }

  header nav ul li a {
    font-size: 16px !important;
  }

  .banner-container .banner-content {
    padding-top: 100px !important;
  }

  .banner-container .banner-content .heading {
    padding: 16% 1% !important;
  }
}

.in {
  background: #f5f5f5;
}

.row {
  margin: 0 !important;
}

.active {
  color: white !important;
}

header .navbar-default {
  padding: 30px;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: transparent;
}

  header .active {
    color: white;
  }

  header .navbar-nav {
    padding-left: 10%;
  }

    header .navbar-nav li a:hover {
      text-decoration: underline !important;
      color: white !important;
    }

    header .navbar-nav li:first-child a {
      font-size: 20px;
    }

    header .navbar-default .navbar-nav>li:not(:first-child)>a {
      color: #777777;
      font-family: "Muli";
      font-size: 12px;
    }

.banner-container {
  background: url(images/tea-min.jpg);
  height: 600px;
  background-size: cover;
}

  .banner-container .overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .banner-container .banner-content .heading {
    padding-top: 200px;
  padding-left: 11%;
  }

      .banner-container .banner-content .heading h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 100;
      }

      .banner-container .banner-content .heading p:nth-child(2) {
        font-family: "Muli";
        color: #ddd;
        font-size: 20px;
      }

      .banner-container .banner-content .heading p:nth-child(3) {
        font-family: "Muli";
        color: #ddd;
        font-size: 17px;
      }

.capabilities {
  height: 445px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

.capabilities:before {
  content: '';
  position: absolute;
  max-width: 100%;
  top: 481px;
  border-style: inset;
  border-top: 60px double rgba(255,255,255,0);
  border-bottom: 60px solid #fff;
  border-left: 50vw solid #fff;
  border-right: 50vw solid #fff;
  -moz-transform: scale(.9999);
  transform: scale(.9999);
}

  .capabilities ul {
    list-style-type: none;
    padding: 0;
  }

  .capabilities ul li {
    text-align: center;
    float: left;
  }

  .capability-content {
    padding: 33px 14px 0 14px;
  }

    .capabilities .icon-desktop {
      width: 152px;
      height: 137px;
      margin: 0 auto;
    }

    .capabilities .icon-desktop .svg-style {
      stroke: #865;
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      fill: none;
      animation: dash 5s linear forwards;
      -webkit-animation: dash 5s linear forwards;
      -moz-animation: dash 5s linear forwards;

    }

    @-webkit-keyframes dash {
      from {
        stroke-dasharray: 0 1000;
      }
      to {
        stroke-dasharray: 1000 0;
      }
    }

    @-moz-keyframes dash {
      from {
        stroke-dasharray: 0 1000;
      }
      to {
        stroke-dasharray: 1000 0;
      }
    }

    .capabilities h3 {
      color: black;
      font-size: 20px;
      font-weight: normal;
      font-family: 'Julius Sans One', sans-serif;
      margin: 36px 0 12px;
    }

    .capabilities p {
      line-height: 26px;
      padding: 0 15px;
      color: #9d9e9d;
      font-weight: 300;
      font-size: 15px;
      font-family: 18px/27px 'Gentium Basic', serif
    }


.want-more {
  background: #f5f5f5;
  border-bottom: 1px solid black;
  text-align: center;
}

  .want-more .want-more-container {
    display: inline-block;
  }

  .want-more .want-more-container a {
    border: 3px solid gray;
    border-radius: 60px;
    line-height: 46px;
    padding: 0 20px;
    background: #FFF;
    cursor: pointer;
    color: gray;
    font-size: 18px;
    transition: .2s all linear;
    margin: 50px 10px;
  }

    .want-more .want-more-container a:hover {
      border-color: #1a2225;
      color: #1a2225; 
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }

  .want-more .want-more-container .btn::after {
    border-style: solid;
    border-width: 2px 2px 0px 0;
    content: '';
    display: inline-block;
    height: 12px;
    position: relative;
    top: 18px;
    vertical-align: top;
    left: 5px;
    transform: rotate(45deg);
    width: 13px;
  }

footer {
  height: 300px;
  padding: 45px 0px 63px 0;
  background: #0b121d;
}

  footer ul {
    list-style-type: none;
    text-align: center;
  }

  footer ul li {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }

  footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  footer p {
    text-align: center;
    color: gray;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 10px;
  }
